[submodule "simpletest_test"]
	path = simpletest_test
	url = https://github.com/kudaba/simpletest_test
[submodule "task1/simpletest"]
	path = task1/simpletest
	url = https://github.com/kudaba/simpletest
